<?php
return array(
    'backend' => array(
        'frontName' => '{{ ADMIN_FRONTNAME }}'
    ),
    'crypt' => array(
        'key' => '{{ APP_KEY }}'
    ),
    'session' => array(
        'save' => '{{ SESSION_SAVE }}'
    ),
    'db' => array(
        'table_prefix' => '',
        'connection' => array(
            'default' => array(
                'host' => '{{ DB_HOSTNAME }}',
                'dbname' => '{{ DB_NAME }}',
                'username' => '{{ DB_USERNAME }}',
                'password' => '{{ DB_PASSWORD }}',
                'active' => '1'
            )
        )
    ),
    'resource' => array(
        'default_setup' => array(
            'connection' => 'default'
        )
    ),
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => '{{ MAGE_MODE }}',
    'cache_types' => array(
        'config' => 0,
        'layout' => 0,
        'block_html' => 0,
        'collections' => 0,
        'reflection' => 0,
        'db_ddl' => 0,
        'eav' => 0,
        'config_integration' => 0,
        'config_integration_api' => 0,
        'full_page' => 0,
        'translate' => 0,
        'config_webservice' => 0
    ),
    {% if REDIS_ENDPOINT != '' %}
    'cache' => array(
        'frontend' => array(
            'default' => array(
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => array(
                    'server' => '{{ REDIS_ENDPOINT }}',
                    'database' => '0',
                    'port' => '6379'
                )
            ),
            'page_cache' => array(
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => array(
                    'server' => '{{ REDIS_ENDPOINT }}',
                    'port' => '6379',
                    'database' => '1',
                    'compress_data' => '0'
                )
            )
        )
    ),
    {% endif %}
    'install' => array(
        'date' => 'Thu, 30 Jan 2014 00:24:35 +0000'
    )
);
